files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;
          
          location / {
              proxy_pass  http://my_app;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }

  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDkjCCAnoCCQCm8icU/0GiljANBgkqhkiG9w0BAQsFADCBijELMAkGA1UEBhMC
VVMxETAPBgNVBAgMCE5ldyBZb3JrMQ8wDQYDVQQHDAZRdWVlbnMxETAPBgNVBAoM
CFRlYW1zdGVyMQ0wCwYDVQQLDARUZWNoMRMwEQYDVQQDDApqYXlld2UuY29tMSAw
HgYJKoZIhvcNAQkBFhFqd3k1MTQwQGdtYWlsLmNvbTAeFw0xOTA4MDEwMDA0MTZa
Fw0yMDA3MzEwMDA0MTZaMIGKMQswCQYDVQQGEwJVUzERMA8GA1UECAwITmV3IFlv
cmsxDzANBgNVBAcMBlF1ZWVuczERMA8GA1UECgwIVGVhbXN0ZXIxDTALBgNVBAsM
BFRlY2gxEzARBgNVBAMMCmpheWV3ZS5jb20xIDAeBgkqhkiG9w0BCQEWEWp3eTUx
NDBAZ21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAocRO
rAHJwj0bJSctiD7UZLp6rnnzO0iNXM2HlVRmAI3T4xxaCR38wtWlEFK1TW8r+ipf
GEQfBXBVcrAB3/6iy0JSMUYy4BRmH0L/UJA+4WzPDepx78CrkYabd03hcAY2TUsU
vk+cydczrZM5YD/hhGYkCllmWO5pqIl4pI0bw/2gjjx/yMxdmL3qhAnUfWTYSDR+
CvsqRmu69rPse8ZIPddtEDrKJbZ8dblJtumNKpp6oRKIDDLJl2PHU1aAxHTsz0f8
2y/orWLeNwBu82r0r6LqZ4cUQ5vOZWhmx84DX0COd9znbnIbyIcR9aEWInZ/Cz5C
1RCnD0obgq2y10pVcwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBTEIqzmBPdNYcg
D5UgxE072APw4HBI/RjPid1TjyqRmedc914Ie8JmsRfmC8jV7qtWaZCoPAfBw32i
eoX3Gyzvnb/kFrYu2ZB/KPTjasZG9gqZjEOFAfFjWPUIVeSrKgQHs6aRqWBIFm6B
jJIwr5VgMysRrIAxnoA6duEQBrLSR1gGjObmNgO8ed8Nd4ktPKRmrpVYoh/c4Yae
EMPqD0fdUxro8fDfmsf4DNFW2NCBPLXUOPdJILWTvoLwfPdRl2rwUxOo9BvUTPjR
iJBFhI5vLAwbwd+5i8LkkdMuq8yX3PLCWL8c7DPNKsFFqvzXivc9j5imeNaL0MaP
6qFK8Ey+
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |      
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAocROrAHJwj0bJSctiD7UZLp6rnnzO0iNXM2HlVRmAI3T4xxa
CR38wtWlEFK1TW8r+ipfGEQfBXBVcrAB3/6iy0JSMUYy4BRmH0L/UJA+4WzPDepx
78CrkYabd03hcAY2TUsUvk+cydczrZM5YD/hhGYkCllmWO5pqIl4pI0bw/2gjjx/
yMxdmL3qhAnUfWTYSDR+CvsqRmu69rPse8ZIPddtEDrKJbZ8dblJtumNKpp6oRKI
DDLJl2PHU1aAxHTsz0f82y/orWLeNwBu82r0r6LqZ4cUQ5vOZWhmx84DX0COd9zn
bnIbyIcR9aEWInZ/Cz5C1RCnD0obgq2y10pVcwIDAQABAoIBADRHeRVlzoqTrP4o
1zI8++9BxPw2NUFnhSgE1FiSWhS7wUqYkxB3PITK/vlzgVxxHUlQAEObYFslnrfd
4f0+EeaWnHGIOlDoxsg7or+qnmfD/naE2iWdotT5J6064iyOFWaNaTrIB+fDQNRL
zDMq8fsT93nQwp7jDgqFwxOK9vozreetquKZOvoKUoGY30OOtiPKhy7JYCI+eAKh
eczx2Dd6oVjFHlb5uPcfonzzy4u54HUNzmzBbhhB10cvZFGVtgGZjlonlj08sWHX
+xynQUTESsBTR26gbLf49TN6leelhchnFaR2MSwt9kq0/9U9EDogBsA+JvY0xfFM
eam+ngECgYEA0NDqNyCAhqV99MeSFVvZP9kSLQl2mD13K1LPHBKplIAuAENUxHMJ
k7cj+2CYsSdyKRZNl20hWvqI7d9D+idlqxzLdLJSptJA+XeJ172E8ghJeJyzUKzK
sI4kuQ9bYxvCKewRfPiteqDt2JXnEOVP6bPhVISooOhC+eLob3pCMkECgYEAxlHN
P7W8RuIq37DS0qiB9Crb+7R+WL9vh6ZLEFhW/sKbcU3PvqyhmLgY78+LNXYDknxV
mhjCsBpqAxF1pOpkHIa8vOkFq8aAPHfLuBREsyuPmXpmmSpTqagztbFLfwWdqAQS
m2Snsq0Yr8TUb5OJb7A4/4XFZIW+ajeNbzAQsrMCgYAtDncLMBMrengEIi/ONgRZ
d4ApgZo6XUDiczrHJuu6ZDII0n5u6ReO7PxxmDU6PHWwkeRqIR0KYXa8ROmJB4kz
c8Ieyv90iXeFnJp8l6MhClK4GK/EX5RYpkMcP0kLyIiLvSlE2u+rvx+zFR1HkwM8
PRkIwJsWJSeWfbSDoVC5QQKBgArWG234wzHoV8ljQxHJrVgnI2AMi77TrwdtebqJ
6S8AeTfmtYxIqIfMv2gTIhsouKc/bfn+klzHBLXoNVJukEvSvOthnDK3pPgo35PO
X7aekbkkLAkAfBPQIgsyhdqJ9wRgPJgLFvK3bJrmGWmDWUYmDedAavnEKRRqtqq1
qKPrAoGAd/GGHYQ41NJdTUQujwM0yKuKBlgrPZ5+42j4C0C8r7rSBd2WAo53Gwgo
THFYi5fn3AOGoLcanNXAzJlk59jOsaphUvPmHH6WUPra/f/2wkGrXDK0XSYl6RnE
b1slXxJWFONR3Szdi2YeYoUIvfVuoPEb2goK4iWoy70EIdZA0C0=
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"